---
layout: default
title: Python Indeed
---

{% include non-post-header.html header-bg = "/assets/img/4357116.jpg" header-heading = "Python Indeed" header-content = 'Trending approaches with Python' %}

<!-- Main Content-->    

<div class="container px-3 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            {% for post in site.posts limit: 5 %}
            <div class="post-preview">
                <p class="post-meta">
                    <i class="bi bi-github"></i> 
                    <a href="https://github.com/speakpython/{{ post.categories }}/tree/master/{{ post.title | replace: ' ', '-' | downcase }}" class="git-link">
                        speakpython / {{ post.categories }} / {{ post.title | replace: " ", "-" | downcase }}</a>
                </p>
                <a href="{{ post.url }}">
                    <h2 class="post-title">{{ post.heading }}</h2>
                    <h3 class="post-subtitle mb-4">{{ post.excerpt | strip_html | truncate:50 }}</h3>
                </a>
                <p class="post-meta">
                    Posted by {{ site.author[post.author_id].name }} on {{ post.date | date: "%d %B %Y" }}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
            <!-- Pager-->
            <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="/all-posts.html">All Posts →</a></div>
        </div>
    </div>
</div>