---
layout: default
title: Privacy
---
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-3 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-4">
                    <div class="event-planner">
                        <h2 class="mt-5"><i class="bi bi-bookmarks small"></i> Privacy Policy</h2>
                        <hr />
                        At SpeakPython.codes, we value your trust and are committed to ensuring the security and privacy of your personal information. 
                        <div class="my-5">
                            <h4>1. What personal information do we collect?</h4>
                            <p>We collect the following personal information from our visitors:
                                <ul>
                                    <li>IP address: We collect your IP address when you visit our website. We use this information to track website traffic and to improve our website's security.</li>
                                    <li>Cookies: We use cookies to store your preferences and to track your activity on our website. Cookies are small text files that are stored on your computer by your web browser. You can disable cookies in your web browser settings, but this may prevent you from using some of the features on our website.</li>
                                    <li>Newsletter subscription: If you subscribe to our newsletter, we will collect your email address. We use this information to send you our newsletter with updates about our website and blog.</li>
                                </ul>
                            </p>
                            <h4>2. How do we use your personal information?</h4>
                            <p>We use your personal information for the following purposes:
                                <ul>
                                    <li>To improve our website and to provide you with a better user experience.</li>
                                    <li>To send you our newsletter, if you have subscribed.</li>
                                    <li>To track website traffic and to improve our website's security.</li>
                                </ul>
                            </p>
                            <h4>3. Do we share your personal information with third parties?</h4>
                            <p>We share your personal information with the following third parties:
                                <ul>
                                    <li>Google Ads: We use Google Ads to display advertisements on our website. Google Ads may collect your IP address and other information about your browsing activity.</li>
                                    <li>Email marketing service provider: We use an email marketing service provider to send out our newsletter. We share your email address with our email marketing service provider so that they can send you our newsletter.</li>
                                </ul>
                            </p>
                            <h4>4. How do we protect your personal information?</h4>
                            <p>We use a variety of security measures to protect your personal information from unauthorized access, use, or disclosure. These security measures include encryption, firewalls, and access controls.</p>
                            <h4>5. Your choices</h4>
                            <p>You have the following choices regarding the collection and use of your personal information:
                                <ul>
                                    <li>You can choose to disable cookies in your web browser settings.</li>
                                    <li>You can unsubscribe from our newsletter at any time by clicking on the unsubscribe link in any of our newsletters.</li>
                                </ul>
                            </p>
                            <h4>6. Contact us</h4>
                            <p>If you have any questions about this privacy policy, please contact us at <a href="mailto:support@speakpython.codes?subject=Issue regarding your privacy policies.">support@speakpython.codes</a></p>
                            <h4>7. Changes to this privacy policy</h4>
                            <p>We may update this privacy policy from time to time. If we make any changes to this privacy policy, we will post the updated privacy policy on our website.</p>
                            <h4>8. Proprietary content and copyrighted photos</h4>
                            <p>All of the code on the Speakpython.codes website is proprietary content. We also use some copyrighted photos on our website. We have permission from the copyright holders to use these photos.</p>
                            <h4>9. Ownership</h4>
                            <p>The complete Speakpython.codes website and its content is the sole owner Speakpython.</p>
                        </div>
                    </div>
                    <!-- {% include python-for-web.html %} -->
                    <hr />
                    <div class="mt-5 px-1" id="maillist">
                        <h4 class="maillist-promotion">Stay Informed: Subscribe to All Updates</h4>
                        {% include subscription-form.html placeholder-content = "Join Our Mailing List for Exclusive Updates" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>