---
layout: default
title: Python Training
---
<!-- Page Header-->
{% include non-post-header.html header-bg = "/assets/img/python-back.png" header-heading = "Learn Python" header-content = 'Live sessions and seminars' %}

<!-- Main Content-->
<main class="mb-4">
    <div class="container px-3 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p class="mt-1">Are you ready to Master Python? Learn from the Best with Our Live Classes for Beginners and Intermediates!</p>
                <div class="my-4">
                    <div class="card">
                        <img src="assets/img/speak-python-banner.png" width="100%">
                    </div>
                    <div class="event-planner">
                        <h2 class="mt-5"><i class="bi bi-bookmarks small"></i> Upcoming events</h2>
                        <hr />
                        <p>Join our upcoming sessions and seminars to Master the World's Most Popular Programming Language!</p>
                        <div class="google-calender">
                            <iframe src="https://calendar.google.com/calendar/embed?wkst=1&bgcolor=%23ffffff&ctz=Asia%2FKolkata&showTitle=0&showPrint=0&showTz=1&showCalendars=0&mode=AGENDA&src=OGE0Yjk0MzMzN2UxMDQ3YzZhNjZhNDhhZGI1ZTQxNmY5MjYzY2I2NmFmMTk0MGFmYTQ3ZTZhNWVhMGIxNDMyNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%230B8043" style="border-width:0" frameborder="0" scrolling="no"></iframe>
                        </div>
                    </div>
                    <hr />
                    <div class="mt-5" id="maillist">
                        <h4 class="maillist-promotion">Never Miss an Educational Opportunity Again</h4>
                        {% include subscription-form.html placeholder-content = "Join Our Mailing List for Exclusive Updates" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
