<div class="accordion mb-5" id="latestEvent">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                #Python for Web - starting on 27th May
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show"
            data-bs-parent="#latestEvent">
            <div class="accordion-body small fs-6" style="font-family: Ubuntu;">
                This event is an introduction to Python
                and web development. You'll learn the basics of Python and then
                explore how to use it to build web applications. You'll discover
                the language and the frameworks commonly used in web
                development, and build a foundation for further exploration.
                <div class="list-group my-3">
                    <li class="list-group-item p-3">Interactive and practical based online
                        classes led by experienced instructors.</li>
                    <li class="list-group-item p-3">Structured curriculum covering essential
                        Python topics for web development, including fundamentals of
                        Python. </li>
                    <li class="list-group-item p-3">Recorded lectures, assignments, and
                        quizzes for self-paced learning and assessment</li>
                </div>
                <div class="list-group my-3">
                    <li class="list-group-item p-3 rounded">Free demo classes available, and the
                        course fees are Rs. 2000.</li>
                </div>
                <div class="row my-3">
                    <div class="col-md-6 my-3">
                        <a class="btn btn-outline-primary w-100" type="button">Course Curriculum</a>
                    </div>
                    <div class="col-md-6 my-md-3">
                        <a class="btn btn-outline-warning w-100" type="button" href="mailto:support@speakpython.codes?subject=Having questions about Python for Web Classes">Help & Support</a>
                    </div>
                </div>
                <p class="text-muted m-0 font-italic">Please provide your valid email for the course registration. 👇👇</p>
            </div>
        </div>
    </div>
</div>