<h4 class="maillist-promotion">Never Miss an Educational Opportunity Again</h4>
<form name="speakpython-blog" method="POST" data-netlify="true">
<div class="row p-md-1">
    <div class="col-md-9 p-2">
        <input class="w-100" type="email" required name="email" placeholder="Join Our Mailing List for Exclusive Updates" style="width: 100%;max-height:3.5rem;padding: 1.5rem 1rem;font-family: Ubuntu;font-size: 1rem;">
    </div>
    <div class="col-md-3 p-2">
        <button class="btn btn-primary w-100" type="submit">Subscribe</button>
    </div>
</div>
</form>