---
layout: default
---

<!-- Page Header-->
<link href="{{ '/assets/css/readme.css' | prepend: site.url }}" rel="stylesheet" />
<div id="lb-back">
    <div id="lb-img"></div>
</div>
<header class="masthead" id="top-header">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ content }}
            </div>
        </div>
    </div>
</header>
<div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="
    position: sticky;
    top: 0;
    z-index: 100000;
    height: 0.5rem;
    display: none;
">
  <div class="progress-bar"></div>
</div>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-3 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ page.content }}
                {% if page.credits.size > 0 %}
                <div class="container p-0 my-4 mt-5">
                    <div class="content-credit">
                        {% if page.credits.size == 1 %}
                            Special thanks to 
                        {% else %}
                            Thanks to 
                        {% endif %}
                        {% for credit in page.credits %}
                            <a href="{{ site.external_link[credit] }}" class="font-dark" target="_blank">{{ credit | replace: '-', ' ' | capitalize }}</a>
                        {% endfor %}    
                    </div>
                </div>
                {% endif %}
                <hr class="my-4" />
                <div class="d-flex justify-content-between gap-2 mb-4">
                    
                    <a class="btn {% if page.previous.title %} btn-primary {% else %} opacity-0 disabled d-none d-md-block {% endif %} w-100 text-end" href="{% if page.previous.title %}{{page.previous.url}}{% else %}\{% endif %}" class="px-3" style="word-break:break-all;">
                        <div class="d-flex justify-content-between gap-2">
                            <i class="bi bi-chevron-double-left"></i>
                            {{ page.previous.title }}
                        </div>
                    </a>
                    
                    <a class="btn {% if page.next.title %} btn-primary {% else %} opacity-0 disabled d-none d-md-block {% endif %} w-100 text-end" href="{% if page.next.title %}{{page.next.url}}{% else %}\{% endif %}" class="px-3" style="word-break:break-all;">
                        <div class="d-flex justify-content-between gap-2">
                        {{ page.next.title }}
                        <i class="bi bi-chevron-double-right"></i>
                        </div>
                    </a>
                </div>
                <hr class="my-4" />
                <h3 id="postAuthor">About the author</h3>
                <div class="card my-3" style="border-left: 0.4rem solid #0085A1;" id="collapseAuthor">
                    <div class="row g-0">
                      <div class="col-md-2 py-3 px-3 d-none d-md-block">
                        <img src="{{ site.author[page.author_id].profile_pic }}" class="img-fluid rounded-circle m-0" alt="{{ page.author_id }}">
                      </div>
                      <div class="col">
                        <div class="card-body text-dark py-2">
                            <div class="row d-md-none">
                                <div class="col-3 p-2">
                                    <img src="{{ site.author[page.author_id].profile_pic }}" class="img-fluid rounded-circle m-0" alt="{{ page.author_id }}">
                                </div>
                                <div class="col">
                                    <p class="card-text fs-6 mt-2">{{ site.author[page.author_id].about }}</p>
                                </div>
                            </div>
                          <p class="card-text fs-6 mt-2 d-none d-md-block">{{ site.author[page.author_id].about }}</p>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="card-text p-3 p-md-0 pt-0">
                            <ul class="list-inline fs-6 text-end">
                                <li class="list-inline-item m-md-2">
                                    <a href="{{ site.author[page.author_id].twitter_handler }}">
                                        <span class="fa-stack fa-lg">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="list-inline-item m-md-2">
                                    <a href="{{ site.author[page.author_id].git_handler }}">
                                        <span class="fa-stack fa-lg">
                                            <i class="fas fa-circle fa-stack-2x"></i>
                                            <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                <script src="https://giscus.app/client.js"
                    data-repo="speakpython/speakpythonBlog"
                    data-repo-id="R_kgDOJB2q_A"
                    data-category="General"
                    data-category-id="DIC_kwDOJB2q_M4CUbqu"
                    data-mapping="pathname"
                    data-strict="0"
                    data-reactions-enabled="1"
                    data-emit-metadata="0"
                    data-input-position="bottom"
                    data-theme="light"
                    data-lang="en"
                    data-loading="lazy"
                    crossorigin="anonymous"
                    async>
                </script>
                <div class="mt-5 mb-3 px-1" id="maillist">
                    <h4 class="maillist-promotion">Unlock the full potential of Python programming</h4>
                    {% include subscription-form.html placeholder-content = "Subscribe to our blog for expert tips and code snippets!" %}
                </div>
                <hr class="my-4" />
                <div class="my-5 contribution-footer">
                    <h5 id="git-conribution">Help us Enhance this Post!</h5>
                    <p class="fs-6 my-3">If you notice any errors or unclear information, please submit a pull request to contribute to our open source efforts.</p>

                    <div class="btn-group gap-3 mt-4">
                        <div class="fs-6 edit-button git-contribute">
                            <svg aria-hidden="true" focusable="false" role="img" class="octicon mr-1" viewBox="0 0 16 16" width="16" height="16" fill="currentColor" style="display:inline-block;user-select:none;vertical-align:text-bottom;overflow:visible"><path d="M1.5 3.25a2.25 2.25 0 113 2.122v5.256a2.251 2.251 0 11-1.5 0V5.372A2.25 2.25 0 011.5 3.25zm5.677-.177L9.573.677A.25.25 0 0110 .854V2.5h1A2.5 2.5 0 0113.5 5v5.628a2.251 2.251 0 11-1.5 0V5a1 1 0 00-1-1h-1v1.646a.25.25 0 01-.427.177L7.177 3.427a.25.25 0 010-.354zM3.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm0 9.5a.75.75 0 100 1.5.75.75 0 000-1.5zm8.25.75a.75.75 0 101.5 0 .75.75 0 00-1.5 0z"></path></svg>
                            <a href="https://github.com/speakpython/speakpythonBlog/blob/gh-pages/{{ page.path }}" target="_blank" style="padding-left: 5px;font-family: 'Ubuntu'; font-style: normal;">Make a contribution</a>
                        </div>
                        <div class="report-error">
                            <a href="mailto:support@speakpython.codes?subject=Reporting Error at - `{{page.title}}`" style="font-family: Arial;font-size: 14px;">Report an error</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<script src="{{ '/assets/js/readme.js' | prepend: site.url }}"></script>
