---
layout: default
---

<!-- Page Header-->
<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ content }}
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                {{ page.content }}
                <hr class="my-4" />
                <div class="d-flex justify-content-between gap-2 mb-4">
                    
                    <a class="btn {% if page.previous.title %} btn-primary {% else %} opacity-0 disabled d-none d-md-block {% endif %} w-100 text-end" href="{% if page.previous.title %}{{page.previous.url}}{% else %}\{% endif %}" class="px-3">
                        <div class="d-flex justify-content-between gap-2">
                            <i class="bi bi-chevron-double-left"></i>
                            {{ page.previous.title }}
                        </div>
                    </a>
                    
                    <a class="btn {% if page.next.title %} btn-primary {% else %} opacity-0 disabled d-none d-md-block {% endif %} w-100 text-end" href="{% if page.next.title %}{{page.next.url}}{% else %}\{% endif %}" class="px-3">
                        <div class="d-flex justify-content-between gap-2">
                        {{ page.next.title }}
                        <i class="bi bi-chevron-double-right"></i>
                        </div>
                    </a>
                </div>
                <script src="https://giscus.app/client.js"
                    data-repo="speakpython/speakpythonBlog"
                    data-repo-id="R_kgDOJB2q_A"
                    data-category="General"
                    data-category-id="DIC_kwDOJB2q_M4CUbqu"
                    data-mapping="pathname"
                    data-strict="0"
                    data-reactions-enabled="1"
                    data-emit-metadata="0"
                    data-input-position="top"
                    data-theme="light"
                    data-lang="en"
                    data-loading="lazy"
                    crossorigin="anonymous"
                    async>
                </script>
            </div>
        </div>
    </div>
</article>
