---
layout: page
---

<div class="post-heading">
    <div class="subheading fs-6 edit-button">
        <i class="bi bi-github"></i>
        <i><a href="#git-conribution" style="color: white; padding-left: 5px;">Improve this page</a></i>
    </div>
    <h2 class="h1">{{ page.heading }}</h2>
    <p class="fst-italic mb-0 code-level">Level: {{page.level}}</p>
    <h2 class="subheading">
        #{{page.categories}}
        {% for tag in page.keywords %}
            {% if tag != page.categories.last %} 
                #{{tag}}
            {% endif %}
        {% endfor %}
    </h2>
    <span class="meta">
        Posted by
        <a href="#!">{{ page.author }}</a>
        on {{ page.date | date: "%d %B %Y" }}
    </span>
</div>
